- content_for :html_head do
  :javascript
    var channel = "#{@channel.to_remote}";

- content_for :html_foot do
  %script{:src => rocketio_js}
  %script{:src => "#{app_root}/js/remote.js"}

%div
  %h1= @title
  %p
    %input{:type => :text, :id => :url, :size => 40, :value => "http://shokai.org"}
    %input{:type => :button, :id => :btn_url, :value => "go"}
  %p
    %input{:type => :button, :id => :btn_up, :value => "up"}
    %input{:type => :button, :id => :btn_down, :value => "down"}
    %input{:type => :button, :id => :btn_left, :value => "left"}
    %input{:type => :button, :id => :btn_right, :value => "right"}
